<article class="pelicula-card">

  <!-- PÓSTER -->
  @if (pelicula.imagenes.length > 0) {

    <img
      class="pelicula-card__poster"
      [src]="pelicula.imagenes[0]"
      [alt]="'Póster de ' + pelicula.titulo">

  }


  <!-- INFORMACIÓN -->
  <div class="pelicula-card__contenido">

    <h3>
      {{ pelicula.titulo }}
    </h3>


    <p class="pelicula-card__sinopsis">
      {{ pelicula.sinopsis }}
    </p>


    <div class="pelicula-card__datos">

      <span>
        <strong>Duración:</strong>
        {{ pelicula.duracion }} min
      </span>


      <span>
        <strong>Clasificación:</strong>
        {{ pelicula.clasificacionEdad }}
      </span>


      <span>
        <strong>Estreno CineBera:</strong>
        {{ formatearFecha(pelicula.fechaEstreno) }}
      </span>

    </div>


    <!--
      EVENT BINDING

      Cuando el usuario hace click,
      el componente hijo emite la película
      seleccionada hacia Home.
    -->
    <button
      type="button"
      (click)="verFunciones()">

      Ver funciones

    </button>

  </div>

</article>