<nav class="navbar">

  <!--
    Logo/nombre de la aplicación.
    Siempre vuelve a la cartelera.
  -->
  <a
    class="navbar-logo"
    routerLink="/">
    CineBera
  </a>


  <!-- =========================
       NAVEGACIÓN PRINCIPAL
       ========================= -->
  <div class="navbar-links">

    <!--
      Estas opciones son públicas.
      Pueden utilizarlas tanto visitantes
      como usuarios registrados.
    -->
    <a routerLink="/">
      Cartelera
    </a>

    <a routerLink="/proximamente">
      Próximamente
    </a>


    <!--
      Estas opciones pertenecen al usuario.

      Por eso solamente tienen sentido cuando
      existe una sesión autenticada.
    -->
    @if (usuarioAutenticado()) {

      <a routerLink="/alertas">Mis alertas @if(alertas.noLeidas()){ ({{alertas.noLeidas()}} nuevas) } @if(errorAlertas()){ (sin actualizar) }</a>
      <a routerLink="/mis-peliculas">
        Mis películas
      </a>

      <a routerLink="/perfil">
        Mi perfil
      </a>

    }

  </div>


  <!-- =========================
       ESTADO DE AUTENTICACIÓN
       ========================= -->
  <div class="navbar-auth">

    @if (usuarioAutenticado()) {

      <!--
        CASO 1:
        existe una sesión de Supabase Auth.
      -->
      <span class="navbar-usuario">

        @if (nombreUsuario()) {
          Hola, {{ nombreUsuario() }}
        } @else {
          Sesión iniciada
        }

      </span>


      <!--
        Acá usamos Event Binding.

        HTML detecta el click y ejecuta
        cerrarSesion() en TypeScript.
      -->
      <button
        type="button"
        class="boton-salir"
        (click)="cerrarSesion()">
        Cerrar sesión
      </button>

    } @else {

      <!--
        CASO 2:
        no existe sesión.

        Por lo tanto estamos navegando
        como visitante/anónimo.
      -->
      <a
        class="boton-ingresar"
        routerLink="/login">
        Iniciar sesión
      </a>

      <a
        routerLink="/registro">
        Crear cuenta
      </a>

    }

  </div>

</nav>