
<main class="peliculas-page">
  <!--
    Navegación contextual.

    No necesitamos un navbar administrativo porque
    el Dashboard es el punto principal de navegación
    del administrador.
  -->
  <a
    class="volver-dashboard"
    routerLink="/admin/home">
    ← Volver al Dashboard
  </a>

  <div class="peliculas-header">

    <app-page-header>
        <h1>Gestión de películas</h1>
        <p>
            Administrá las películas disponibles en CineBera.
        </p>
    </app-page-header>

    <a
      class="boton-nueva"
      routerLink="/admin/peliculas/nueva">
      Nueva película
    </a>

  </div>

    <section class="buscador">
        <label for="buscarPelicula">
            Buscar Pelicula
        </label>
<!-- Two-Way Data Binding va y vuelve el valor segun-->
        <input
            id="buscarPelicula"
            type="text"
            placeholder="Ingrese un titulo"
            [(ngModel)]="textoBusqueda"
            >
    </section>

    <section class="peliculas-listado">
<h2>
    Listado de películas
</h2>
    <table>
    <thead>
    <tr>
        <th>Título</th>
        <th>Duración</th>
        <th>Géneros</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
   <tbody>
  @for (pelicula of obtenerPeliculasFiltradas(); track pelicula.id) {
    <ng-container>
      <tr>
        <td>
          {{ pelicula.titulo }}
        </td>
        <td>
          {{ pelicula.duracion }} min
        </td>
        <td>
          {{ pelicula.generos.join(', ') }}
        </td>
        <td>
          @if (pelicula.visible) {
            Visible
          } @else {
            Oculta
          }
        </td>
        <td>
          <button type="button">
            Editar
          </button>
          <button
            type="button"
            (click)="cambiarVisibilidad(pelicula)">
            @if (pelicula.visible) {
              Ocultar
            } @else {
              Mostrar
            }
          </button>
        </td>
      </tr>
    </ng-container>
  } @empty {
<!-- NG CONTAINER-->
  <ng-container
    [ngTemplateOutlet]="sinPeliculas">
  </ng-container>
}
</tbody>

<!-- NG TEMPLATE-->
<ng-template #sinPeliculas>
  <tr>
    <td colspan="5">
      No se encontraron películas.
    </td>
  </tr>
</ng-template>

</table>
</section>
</main>
