<section class="fidelizacion">

  <header>
    <h1>
      Mis beneficios
    </h1>

    <p>
      Acumulá 1 punto por cada peso gastado.
    </p>
  </header>


  @if (cargando()) {

    <p>
      Cargando beneficios...
    </p>

  }

  @else {

    <!--
      SALDO ACTUAL
    -->
    <section class="saldo">

      <p>
        Puntos disponibles
      </p>

      <strong>
        {{ saldo() }} pts
      </strong>

    </section>


    <!--
      RECOMPENSAS
    -->
    <section>

      <h2>
        Recompensas
      </h2>


      <div class="recompensas">

        @for (
          recompensa of recompensas();
          track recompensa.id
        ) {

          <article class="recompensa">

            <div>

              <h3>
                {{ recompensa.nombre }}
              </h3>


              @if (recompensa.descripcion) {

                <p>
                  {{ recompensa.descripcion }}
                </p>

              }


              <strong>
                {{ recompensa.puntos_necesarios }}
                puntos
              </strong>

            </div>


            <button
              type="button"

              [disabled]="
                !puedeCanjear(recompensa) ||
                recompensaCanjeandoId() !== null
              "

              (click)="canjear(recompensa)"
            >

              @if (
                recompensaCanjeandoId() === recompensa.id
              ) {

                Canjeando...

              }

              @else if (
                puedeCanjear(recompensa)
              ) {

                Canjear

              }

              @else {

                Puntos insuficientes

              }

            </button>

          </article>

        }

        @empty {

          <p>
            No hay recompensas disponibles.
          </p>

        }

      </div>

    </section>

    <!--
  =====================================================
  HISTORIAL DE CANJES
  =====================================================
-->
<section class="historial">

  <h2>
    Historial de canjes
  </h2>


  @for (
    movimiento of historialCanjes();
    track movimiento.id
  ) {

    <article class="historial__item">

      <div>

        <strong>
          {{ movimiento.descripcion }}
        </strong>

        <p>
          {{ movimiento.created_at }}
        </p>

      </div>


      <!--
        Los canjes ya están guardados como números
        negativos, por ejemplo -150.
      -->
      <strong>
        {{ movimiento.puntos }} pts
      </strong>

    </article>

  }

  @empty {

    <p>
      Todavía no realizaste ningún canje.
    </p>

  }

</section>

  }

</section>