<nav>
    <div class="navbar-brand">
        <strong>CineBera</strong>
    </div>

    <div class="navbar-links">
        <a routerLink="/admin/home">
            Home
        </a>
        <a routerLink="/admin/reportes">
            Reportes y Facturación
        </a>
        <a routerLink="/admin/peliculas">
            Peliculas
        </a>
        <a routerLink="/admin/candy">
            Candy
        </a>
        <a routerLink="/admin/usuarios">
            Usuarios y Roles
        </a>
        <a routerLink="/admin/funciones">
            Funciones y Salas
        </a>
        <a routerLink="/admin/configuracion">
            Configuracion General
        </a>
        <a routerLink="/admin/auditoria">
            Auditoria
        </a>

    </div>
</nav>