.dashboard-chip {
  padding: 20px;

  background-color: var(--cine-surface);

  border: 1px solid var(--cine-border);
}

.dashboard-chip h3 {
  margin-top: 0;

  font-size: 16px;
  font-weight: normal;

  color: var(--cine-muted);
}

.dashboard-chip p {
  margin-bottom: 0;

  font-size: 24px;
  font-weight: bold;

  color: var(--cine-text);
}