<main class="funciones-pelicula">
  <!--
    pelicula puede contener una Pelicula
    o ser undefined.

    @if permite renderizar esta sección solamente
    cuando la película fue encontrada.
  -->
  @if (pelicula) {
    <header>
      <h1>
        Funciones de {{ pelicula.titulo }}
      </h1>
      <p>
        {{ pelicula.sinopsis }}
      </p>
    </header>
    <section>

  <h2>
    Funciones disponibles
  </h2>


  <!--
    Si existen funciones disponibles,
    recorremos el array recibido desde Supabase.
  -->
  @if (funciones.length > 0) {

    <div class="lista-funciones">

      @for (funcion of funciones; track funcion.id) {

        <article class="funcion">

          <!-- Fecha de la función -->
          <p>
            <strong>Fecha:</strong>
            {{ funcion.fecha }}
          </p>

          <!-- Hora -->
          <p>
            <strong>Hora:</strong>
            {{ funcion.hora }}
          </p>

          <!-- Formato -->
          <p>
            <strong>Formato:</strong>
            {{ funcion.formato }}
          </p>

          <!-- Idioma -->
          <p>
            <strong>Idioma:</strong>
            {{ funcion.idioma }}
          </p>

          <p>
            <strong>Sala:</strong>
            {{ obtenerNombreSala(funcion.sala_id) }}
          </p>

          <!--
            Más adelante este botón nos llevará
            a la selección de butacas.
          -->
          <button type="button">
            Elegir función
          </button>

        </article>

      }

    </div>

  } @else {

    <p>
      No hay funciones disponibles
      para esta película.
    </p>

  }

</section>
  } @else {
    <!--
      Este bloque se muestra cuando el ID recibido
      desde la URL no corresponde a una película.
    -->
    <section>
      <h1>
        Película no encontrada
      </h1>
      <p>
        No existe una película con el ID solicitado.
      </p>
    </section>
  }
</main>