@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$orange-palette,
      ),
      typography: 'Geist Variable',
      density: 0,
    )
  );
  @include mat.theme-overrides(
    (
      primary: #c4a471,
      on-primary: #000000,
      primary-container: #51473b,
      on-primary-container: #d4bc94,
      secondary: #d4bc94,
      on-secondary: #000000,
      surface: #000000,
      on-surface: #d4bc94,
      on-surface-variant: #b7a68d,
      surface-container: #141414,
      surface-container-high: #202020,
      surface-container-highest: #363636,
      outline: #9c8b72,
      outline-variant: #363636,
      error: #c47171,
      on-error: #000000,
    )
  );
  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
      outlined-container-shape: 4px,
      text-container-shape: 4px,
    )
  );
}
