<!--
  Mientras esperamos la respuesta de Supabase,
  mostramos un estado de carga.
-->
@if (cargando()) {

  <p>Cargando entrada...</p>

}

<!--
  Cuando termina la carga y existe una entrada,
  mostramos sus datos básicos.
-->
@else if (entrada(); as entradaActual) {

  <main>

    <h1>Tu entrada</h1>

    <!--
  El QR no guarda todos los datos de la entrada.

  Solamente contiene un identificador que luego
  el empleado utilizará para buscar la entrada
  real en Supabase.
-->
<section>

      <h2>Código QR</h2>

      <qrcode

        /*
        * Property Binding:
        *
        * Le pasamos dinámicamente al componente (INPUT)
        * el texto que queremos codificar.
        */
        [qrdata]="'CINEBERA:' + entradaActual.codigo"

        /*
        * Tamaño visual del QR.
        */
        [width]="256"

        /*
        * Nivel de corrección de errores.
        * M es un nivel intermedio adecuado para
        * nuestro caso.
        */
        [errorCorrectionLevel]="'M'">

      </qrcode>

</section>


    <p>
      <strong>Código:</strong>
      {{ entradaActual.codigo }}
    </p>


    <p>
      <strong>Código manual:</strong>
      {{ entradaActual.codigo_manual }}
    </p>


    <p>
      <strong>Estado:</strong>

      @if (entradaActual.utilizada) {

        Utilizada

      } @else {

        Válida

      }

    </p>


    <!--
      Más adelante vamos a colocar acá:
      - QR
      - película
      - función
      - sala
      - butacas
      - PDF
    -->

  </main>

}

<!--
  Si Supabase terminó de responder pero no
  encontró una entrada con ese código.
-->
@else {

  <p>La entrada solicitada no existe.</p>

}